<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="x"> </div>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
</body>


<script>

    $(function (){
                      //load是上面的button的id，这里代表点一下的操作
            $.ajax({
                url:'http://47.100.107.225:1985/api/v1/meminfos',                     //从gettime这个视图函数获取数据，一会编写
                type:'get',                         //采用get方法
                dataType:'JSON',
                success:function(meminfos){            //成功之后的结果，这里的t是从'/gettime'视图函数获得的返回值，如果返回值有多个，可以用json
                    //$('#timenow').load('当前时间为')//用“当前时间为：t”代替timenow也就是上面的“当前时间?"
                    if(!meminfos['is_null'])
                        $('#x').append("内存使用占比："+meminfos['data']['percent_ram']);
                    //table.clear();
                    //alert(table.teacher);

                    //$('#tables').('hello');

                }
            })

    })


</script>
</html>