<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="format-detection" content="telephone=no">
        <meta charset="UTF-8">

        <meta name="description" content="Violate Responsive Admin Template">
        <meta name="keywords" content="Super Admin, Admin, Template, Bootstrap">

        <title>Super Admin Responsive Template</title>
            
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="js/bootstrap-3.3.4.css">
        <link href="css/style.css" rel="stylesheet">
        
    </head>
    <body >
        <div id="diduan" style="height: 100%"></div>
        
    </body>

    <script src="js/echarts/echarts.min.js"></script>
    <script src="js/diduan.js"></script>

</html>

